source /boot/grub/config.cfg

if @ENABLE_INSTALL_MENU@; then
    source /boot/grub/install_start.cfg

    submenu '      Advanced Installation      ' --hotkey=a {
        source /boot/grub/theme.cfg

        source /boot/grub/install.cfg

        # Live boot options
        @LINUX_LIVE@

        # Memtest, firmware setup and media verification
        if @ENABLE_MEMTEST@; then
            source /boot/grub/memtest.cfg
        fi

        if [ "${grub_platform}" = "efi" ]; then
            menuentry "UEFI Firmware Settings" --hotkey=f {
                fwsetup
            }
        fi

        if @ENABLE_VERIFY_CHECKSUMS@; then
            menuentry "Verify boot media" --hotkey=v {
                linux @KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
                initrd @INITRD_LIVE@
            }
        fi
    }
fi
