[Unit]
Description=Project Helios first boot application setup
Wants=network-online.target NetworkManager-wait-online.service
After=network-online.target NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/helios-first-boot-setup
RemainAfterExit=yes
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
