[Desktop Entry]
Type=Application
Name=Brave
Icon=/usr/share/helios/icons/brave.svg
Exec=/usr/local/bin/helios-launch-brave
Terminal=false
Categories=Network;WebBrowser;
