[Desktop Entry]
Type=Application
Name=Brave
Icon=/usr/share/helios/icons/brave.svg
Exec=/usr/bin/brave-browser-stable --password-store=basic
Terminal=false
Categories=Network;WebBrowser;
