[Desktop Entry]
Type=Application
Name=Brave
Icon=/usr/share/flex-launcher/assets/icons/brave.svg
Exec=brave-browser --password-store=basic
Terminal=false
Categories=Network;WebBrowser;
