[Desktop Entry]
Type=Application
Name=Files
Icon=/usr/share/helios/icons/files.svg
Exec=pcmanfm ~/Videos
Terminal=false
Categories=System;FileManager;
