[Desktop Entry]
Type=Application
Name=Files
Icon=/usr/share/flex-launcher/assets/icons/files.svg
Exec=pcmanfm ~/Videos
Terminal=false
Categories=System;FileManager;
