[Desktop Entry]
Type=Application
Name=Moonlight
Icon=/usr/share/helios/icons/moonlight.png
Exec=flatpak run com.moonlight_stream.Moonlight
Terminal=false
Categories=Game;
