[Desktop Entry]
Type=Application
Name=Spotify TEST
Icon=/usr/share/flex-launcher/assets/icons/spotify.svg
Exec=flatpak run com.spotify.Client
Terminal=false
Categories=Audio;Music;
