[Desktop Entry]
Type=Application
Name=Spotify
Icon=/usr/share/helios/icons/spotify.svg
Exec=flatpak run com.spotify.Client
Terminal=false
Categories=Audio;Music;
