[Desktop Entry]
Type=Application
Name=Update Helios
Icon=/usr/share/helios/icons/update.svg
Exec=xterm -fullscreen -fa Monospace -fs 18 -e /usr/local/bin/helios-update
Terminal=false
Categories=System;
