[Desktop Entry]
Type=Application
Name=YouTube
Icon=/usr/share/helios/icons/youtube.svg
Exec=flatpak run rocks.shy.VacuumTube
Terminal=false
Categories=Network;WebBrowser;
